@font-face {
    font-family: 'Artemus';
    src: url('https://static.l2protocol.com/fonts/Artemus.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


:root {
    --vp-c-accent-bg: #959AFD;
    --vp-c-accent-text: #0C263A;
    --vp-c-accent: #292D93;
    --font-family: 'Open Sans', sans-serif;
    --vp-c-accent: #959AFD;
    --vp-c-border: #F6F9FC;
    --vp-c-gutter: #959AFD;
    --content-width: 100%;
    --homepage-width: 100%;
}

.vp-sidebar {
    scrollbar-color: unset;
}

.vp-page-nav .auto-link {
    --vp-c-gutter: #F6F9FC;
}

.vp-site-name {
    font-family: 'Artemus';
    line-height: 1.625;
    font-size: 1rem;
    font-weight: 400;
}

h1#main-title {
    font-family: 'Artemus';
    line-height: 1.625;
    font-size: 3rem;
}

.vp-hero-action-button {
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.3s ease-out;
    border: 1px solid var(--vp-c-accent-bg);
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
}

.vp-hero-action-button:hover {
    border-radius: 8px;
    background-color: #292D93;
    transition: all 0.3s ease-out;
    border: 1px solid #292D93;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    color: white;
}


.vp-hero-action-button.primary:hover {
    transform: translateY(-3px);
    background-color: var(--vp-c-accent-bg);
    border: 1px solid var(--vp-c-accent-bg);
}

.external-link-icon .external-link::after {
    color: var(--vp-c-accent-bg);
    background: var(--vp-c-accent-bg);
}

@media (min-width: 1200px) {
    .vp-hero-action-button {
        padding: 1rem 1.875rem;
    }
}

@media (min-width: 992px) {
    .vp-hero-action-button {
        padding: 1rem 1.75rem;
    }
}
@media (min-width: 576px) {
    .vp-hero-action-button {
        padding: 1rem 1.25rem;
    }
}

html[data-theme=dark] {
    --vp-c-bg: #1E2366;        
    --vp-c-border: #272C6D;

    .vp-page-nav .auto-link {
        --vp-c-gutter: #272C6D;
    }
}